@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

:root {
  --font-poppins: "Poppins", sans-serif;

  --color-primary: #3b82f6;
  --color-success: #22c55e;
  --color-warning: #f59e0b;
  --color-danger: #ef4444;

  --color-background: #f8fafc;
  --color-card: #ffffff;
  --color-text-dark: #0f172a;
  --color-text-gray: #64748b;
}